---
layout: default
title: Papers
categories: 
 - papers
---

<div class="note"><i class="fa fa-envelope"></i> : Corresponding author<br/> </div>
<div class="note"><i class="fa fa-asterisk"></i> : Equal contribution<br/><br/>Click on paper titles for further info. </div>

<div class="bigspacer"></div>

<h2>Selected publications</h2>

<div class="bigspacer"></div>

{% for paper in site.categories.selected-papers %}
			<div class="papertitle"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
			<div class="author">{{ paper.authors }} &nbsp; ({{ paper.year }}) &nbsp; {{ paper.journal }}</div>
<div class="bigspacer"></div>
{% endfor %}

<h2>All publications</h2>

<div class="bigspacer"></div>

{% for paper in site.categories.papers %}
<div class="papertitle"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
<div class="author">{{ paper.authors }} &nbsp; ({{ paper.year }}) &nbsp; {{ paper.journal }}</div>
<div class="bigspacer"></div>
{% endfor %}
